.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .social-login__title {
    margin-left: 5px;
  }
  button {
    width: 100%;
    max-width: 320px;
    padding: 10px 0px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    span {
      i {
        font-size: 17px;
      }
    }
  }
  a {
    color: white;
  }
  .social-login__github {
    background: $black;
  }
  .social-login__kakao {
    background: #f1c40f;
  }
}
