.social-login
    button.social-login__github
        a(href=routes.github)
            span
                i.fab.fa-github
            span.social-login__title | Continue with Github
    button.social-login__kakao
        a(href=routes.kakao)
            span
                i.far.fa-comment
            span.social-login__title | Continue with KakaoTalk